*{
    box-sizing: border-box;
}
.index2-main-space{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px;
    padding: 10px;
    border: 2px solid white;
    background-color: #191919;
}

.index2-sub-space1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.index2-sub-space1-1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.question-style{
    font-size: 20px;
    color: white;
    font-weight: 300;
}


.index2-sub-space2{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.index2-sub-space2-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.index2-sub-space3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.index2-sub-space3-1{
    display: flex;
    justify-content: center;
    color:grey;
    letter-spacing: 1px;
    cursor: pointer;
}


.index2-sub-space4{
    display: flex;
    justify-content:space-evenly;
    margin: 2%;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

.index2-sub-space4-1{
    display: flex;
    justify-content:center;
    margin: 2%;
}

.index2-sub-space4-2{
    display: flex;
    justify-content:center;
    margin: 2%;
}



.index2-sub-space5{
    display: flex;
    justify-content:space-evenly;
    margin: 2%;
    margin-top: 0px;
    flex-wrap: wrap;
}

.index2-sub-space5-1{
    display: flex;
    justify-content:center;
    margin: 2%;
}

.index2-sub-space5-2{
    display: flex;
    justify-content:center;
    margin: 2%;
}

.ans-op{
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: all 0.2s ease-in-out;
    width: 300px;
}

/* .ans-op:hover{
    background-color: black;
    color: white;
  
} */

.index2-sub-space6{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.index2-sub-space6-1{
    display: flex;
    justify-content:center;
    flex-direction: column;
    color: white;
}

#question-img{
    margin: 6%;
}

#forq2{
    text-align: center;
    color: white;
    
}

#time-left{
    text-align: center;
    color: rgb(112, 112, 112);
}

#clock{
    display: flex;
    justify-content: center;
}

.index2-sub-space4 img{
    width: 200px;
}
.index2-sub-space5 img{
    width: 200px;
}

#body-id{
    visibility:hidden;
}

#quiz-loading{
    position:fixed; /* change this to fixed */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -80px;
    width: 200px;
    height: 100px;
    color: white;
}


@media screen and (max-width: 347px) {

.ans-op{
    width: 200px;
}

}

/* @media  screen and (min-width: 320px) { 

    #quiz-loading{
        color: white;
        padding-left: 20%;
        }

} */